.pagination {
    display: block;
    margin: $indent-1 0 $indent-2;
    padding: 0;
    overflow: hidden;

    li {
        list-style: none;
        float: left;
        margin-right: 0.1rem;
        margin-bottom: 0.1rem;

        a {
            display: block;
            height: auto;
            line-height: $line-height-default;
            margin: 0 $indent-2 $indent-1 0;
            text-align: center;
            text-decoration: none;
            color: $color-text;
            font-weight: $font-weight-regular;
            background: transparent;
            border-radius: 0;
            border-bottom: 1px solid transparent;

            @include transition();

            &:hover,
            &:active {
                background: transparent;
                color: $color-theme;
            }
        }

        &.active {
            a {
                background: transparent;
                border-bottom-color: $color-border-dark;
                font-weight: $font-weight-semibold;

                &:hover,
                &:active {
                    color: $color-text;
                }
            }
        }
    }
}
