@mixin scrum-card-accent($color) {
    /* Add the blue highlight, using box-shadow instead of border because border messes up the padding */
    box-shadow: inset $indent-xs 0 $color;
}

.scrum_card {
    background: $color-default;
    margin-bottom: $indent-1;
    padding: $indent-2 $indent-2;
    overflow: hidden;

    @include scrum-card-accent($color-theme);
    @include transition();

    .scrum_card__title {
        display: block;
        font-weight: bold;
    }
    .scrum_card__files {
        float: right;
        font-size: $line-height-s;
        color: $color-grey;
    }
    .scrum_card__deadline {
        display: block;
        font-weight: bold;
        margin-bottom: $indent-2;
    }
    .scrum_card__description {
        display: block;
        margin: $indent-2 0 0;
        line-height: $line-height-default;
        max-height: $line-height-default * 3;
        overflow: hidden;
    }

    &:hover {
        cursor: pointer;
        background: darken($color-default, 2%);
    }

    &.is-overdue {
        @include scrum-card-accent($color-alert);

        .scrum_card__title,
        .scrum_card__deadline {
            color: $color-alert;
        }
    }
}
