.vdp-datepicker {
    input[type="text"] {
        padding-right: $indent-5;
    }

    header {
        height: 40px;
    }

    .vdp-datepicker__clear-button {
        color: $color-text;
        position: absolute;
        right: $indent-2;
        top: 0;
        line-height: $input-height;
        font-size: $font-size-icon-m;

        @include transition();

        i {
            font-style: normal;
        }

        &:hover,
        &:active {
            color: $color-alert;
        }
    }

    .vdp-datepicker__calendar {
        .cell {
            @include transition();

            &.selected {
                background: $color-theme;
                color: $color-default;
            }
        }
    }

    .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
    .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
    .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
        border-color: $color-theme;
    }
}
