$primary: #7957d5;
$primary: #49c5b6;
$primary: #48bdc5;
$primary: #4bc8ea;
$primary: #4ba3ea;
$primary: #209bee;
$primary: #12c2e9;


// Navbar
$navbar-box-shadow-size: 0 2px 0 0;

// Footer
$footer-background-color: $primary;
$footer-color: white;
$footer-padding: 3rem 1.5rem 6rem;
