.block--small {
    @extend .block;

    max-width: 77rem;
    margin: $indent-3 auto;
    padding: $indent-4 $indent-5 $indent-7;
    background: transparent;
    text-align: left;

    @media (max-width: $screen-md) {
        width: 80%;
    }

    @media (max-width: $screen-sm) {
        width: 100%;
        margin-top: $indent-2;
    }

    @media (max-width: $screen-xs) {
        margin: 0 auto $indent-2;
        padding: 0;
    }
}

.block--small--bg {
    @extend .block--small;

    background: $color-default;
    @include drop-shadow(0, 0.1rem, 0.6rem, 0, 0.1);
}
