$btn-height: $multiplier * 5;
$btn-height-mobile: $btn-height;
$spinner-dim: 3 * $multiplier;
$spinner-border-dim: $multiplier / 4;

.button {
    position: relative;
    display: inline-block;
    height: $btn-height;
    margin: 0;
    padding: 0 $indent-4;
    background: $color-default;
    color: $color-cta;
    font-family: $font-default;
    font-size: $font-size-default;
    line-height: $btn-height;
    font-weight: $font-weight-regular;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 0;
    overflow: hidden;
    vertical-align: top;

    @include no-appearance();
    @include transition();

    &:hover,
    &:focus,
    &:active {
        background: $color-grey-light;
        color: $color-cta;
        text-decoration: none;
        cursor: pointer;
    }

    &:disabled,
    &[disabled="disabled"],
    &.is-disabled {
        @include opacity(0.4);

        &:hover,
        &:focus,
        &:active {
            pointer-events: none;
            cursor: not-allowed;

            @include opacity(0.4);
        }
    }

    &.loading {
        margin: 0;
        padding-left: $indent-7;

        span {
            display: none;
        }

        &:after {
            content: "";
            position: absolute;
            left: $indent-2;
            top: $indent-1;
            display: inline-block;
            width: $spinner-dim;
            height: $spinner-dim;
            margin: 0;
            border: $spinner-border-dim solid $color-grey-light;
            border-radius: 50%;
            border-top: $spinner-border-dim solid $color-cta;

            @include spin();
        }
    }

    .mdi {
        float: left;
        margin-right: $indent-1;
        font-size: $font-size-icon-m;
    }

    &.is-block {
        display: block;
    }

    @media (max-width: $screen-sm) {
        float: none !important; //Override any floating / pulling class
        width: 100%;
        margin: $indent-1 0 0;

        .mdi {
            display: none;
        }
    }
}
