.button--cta {
    @extend .button;

    color: $color-default;
    background: $color-cta;

    &:hover,
    &:focus,
    &:active {
        color: $color-default;
        background: darken($color-cta, 5%);
    }

    &:disabled,
    &[disabled="disabled"],
    &.is-disabled {
        &:hover,
        &:active {
            color: $color-default;
            background: $color-cta;
        }
    }

    &.loading {
        &:after {
            border: $spinner-border-dim solid $color-cta;
            border-top: $spinner-border-dim solid $color-grey-light;
        }
    }
}
