.table--simple {
    border-collapse: collapse;

    th,
    td {
        padding: ($indent-xs / 2) $indent-2 ($indent-xs / 2) 0;
        font-size: $font-size-default;

        &.table--simple__cell--date {
            white-space: nowrap;
        }
    }
}
