$form-input-height: 3.5rem;

.form--login {
    @extend .form--bg;

    position: relative;
    margin: 0;
    padding: 0 $indent-base;
    text-align: left;

    h2 {
        padding: $indent-4 0 0;
        font-size: 5rem;
        line-height: 1.5;
        font-weight: $font-weight-light;
        color: $color-theme-dark;

        @media (max-width: $screen-xs) {
            font-size: 3 * $multiplier;
            line-height: 4 * $multiplier;
        }
    }

    p {
        color: $color-theme-dark;
    }

    .form__content {
        margin: auto;
        width: 85%;

        p {
            max-width: 36rem;
            margin-left: auto;
            margin-right: auto;
        }

        .form__button_container {
            width: 70%;
            margin: auto;
            margin-top: $indent-6;
        }
    }

    .form__input {
        position: relative;
        width: 100%;
        height: $form-input-height;
        padding: $indent-2;
        border: none;
        border-bottom: 2px solid $color-theme-dark;
        border-radius: 0;
        background: transparent;
        font-family: $font-default;
        font-size: $font-size-default;
        font-weight: $font-weight-semibold;
        font-style: italic;
        color: $color-theme-dark;
        z-index: 1;
        text-align: left;
        text-overflow: ellipsis;

        @include no-appearance;
        @include transition();

        &.error {
            padding-right: $indent-4;
            background-size: 1.8rem auto;
        }
    }

    .form__input--text {
        @extend .form__input;

        height: $indent-5 !important;
        margin-top: $indent-2;
        padding-left: 0 !important;
        padding-bottom: 0;
        border: none !important;
        border-bottom: 2px solid $color-theme-dark!important;

        + .form__label {
            position: absolute;
            top: 2.7rem;
            font-size: $font-size-default;
            text-transform: uppercase;
            left: 0;
            color: $color-theme-dark;

            @include transition();
        }

        &:focus,
        &.has-value {
            + .form__label,
            .selected-tag {
                top: 0;
                color: $color-theme-dark;
                font-size: $font-size-s;
                text-transform: uppercase;
            }
        }

        &:disabled,
        input {
            cursor: default;

            @include opacity(0.15);
        }
    }

    .form__icon--right {
        position: absolute;
        right: 0;
        bottom: $indent-1;
        font-size: $font-size-icon-m;
        z-index: 99;

        @include opacity(0.7);

        &:hover {
            cursor: pointer;

            @include opacity(1);
        }
    }

    input[type="text"],
    input[type="email"] {
        color: $color-theme-dark;
    }

    .form__forgot-password {
        width: 85%;
        margin: auto;
        padding-top: 0;
        margin-top: 0;
        border-top: 2px solid $color-theme-dark;

        p,
        a {
            display: inline-block;
            width: auto;
            padding: 0;
        }

        a {
            text-decoration: underline;
        }
    }

    @media (max-width: $screen-md) {
        h1 {
            font-size: $font-size-xl;
        }
    }

    @media (max-width: $screen-sm) {
        .info_block {
            display: none;
        }

        .info_block_xs {
            display: block;
            padding: 0;
            border-right: none;
        }
        .form__content {
            padding: 0;
        }
    }

    @media (max-width: $screen-xs) {
        img {
            max-width: 75%;
        }
    }
}
