.cookie_bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: $indent-2 $indent-3;
    background: $color-default;
    z-index: 9999;

    .cookie_bar__text {
        display: inline-block;
        padding: $indent-1 0 0;
        vertical-align: top;
    }

    .button {
        float: right;
        margin: 0 0 0 $indent-2;
    }

    @include drop-shadow-color(0, 0, 6px, 0, $color-grey);

    @media (max-width: $screen-xs) {
        padding: $indent-2;
    }
}
