//Importants are necessary to overrule vue plugin styling..

$icon-dim: 5 * $multiplier;

.icon {
    width: $icon-dim;
    height: $icon-dim;
    display: inline-block;
    stroke-width: 0;
    padding: $indent-1;
    border-radius: 50%;
    fill: $color-text !important;

    @include transition();

    &.icon--primary {
        background-color: $color-theme;
        fill: $color-default !important;
    }

    &.icon--gray {
        background-color: $color-text;
        fill: $color-default !important;
    }

    &.icon--graylight {
        background-color: $color-grey-light;
        fill: $color-grey !important;
    }
}
