.comment {
    border: 1px solid black;
    padding: $indent-2;
    margin-bottom: $indent-4;

    .comment__avatar {
        float: left;
        width: 3em;
        height: 3em;
        margin-right: $indent-2;
        border-radius: 50%;
    }
    .comment__reply {
        position: absolute;
        top: $indent-2;
        right: $indent-2;

        i {
            margin-right: $indent-1;
            font-size: $font-size-icon-m;
            vertical-align: middle;
        }
    }

    h5 {
        margin: 0 0 $indent-xs;
        font-weight: $font-weight-regular;
    }

    .comment__timestamp {
        color: $color-grey;
        font-size: $font-size-xs;
        line-height: $line-height-xs;
    }

    .comment__message {
        margin-top: $indent-3;

        blockquote {
            margin: 0 0 $indent-3;
            padding: 0 0 0 $indent-2;
            border-left: 1px dashed $color-border-light;
        }
    }
}
