.search {
    position: relative;
    margin: $indent-2 0;
    white-space: nowrap;

    @include flexbox();

    .search__input {
        height: $input-height;
        min-width: $indent-10 * 3;
        padding: 0 $indent-3 0 $indent-6;
        border-radius: 0;
        font-size: $font-size-m;
        font-weight: normal;
        color: $color-theme-dark;
        background: $color-default;
        border: 1px solid $color-border-dark;
        border-right: none;
        -webkit-appearance: unset;

        @include transition();
        @include flex(1 0 $indent-10);

        &:focus,
        &:hover,
        &:active {
            outline: none;
        }
    }

    .search__button {
        height: $input-height;
        line-height: $input-height;
        margin: 0 0 0 (-$indent-xs);
        padding: 0 $indent-3;
        border-radius: 0;

        @include flex(0 0 auto);
    }

    &:before {
        content: "\f349";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: $input-height;
        height: $input-height;
        line-height: 40px; //Necessary for IE :(
        font-family: $font-icon;
        font-size: $font-size-icon-m;
        text-align: center;
    }

    @media (max-width: $screen-sm) {
        display: block;
        float: none !important;

        .search__input {
            display: block;
            width: 100%;
            margin: 0 0 $indent-2;
            flex: none;
            border-right: 1px solid $color-border-dark;
        }

        .search__button {
            display: block;
            width: 100%;
            margin: 0;
        }
    }
}
