$font-size-nav: 1.8rem;

.nav {
    position: relative;
    float: right;
    margin-right: -$indent-5;

    ul {
        display: block;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        font-size: $font-size-m;

        .nav__item {
            position: relative;
            display: inline-block;
            list-style: none;
            margin: 0 $indent-2;
            padding-right: $indent-4;
            line-height: $indent-8;
            border-right: 2px solid $color-grey-20-o;

            span {
                font-size: $font-size-nav;
                cursor: default;
            }

            .select {
                font-weight: $font-weight-light;
            }

            @media (min-width: $screen-sm) and (max-width: $screen-md) {
                margin: 0;
                padding: 0 $indent-1;

                &.nav__item--dropdown {
                    padding-right: 0;
                }

                .dropdown-toggle {
                    min-width: 100px;
                }

                &.header__username {
                    display: none;
                }
            }
            @media (max-width: $screen-sm), (min-width: $screen-md) {
                &.header__username--mobile {
                    display: none;
                }
            }

            @media (min-width: $screen-sm) {
                &:last-child {
                    border: none;
                    padding-right: $indent-2;
                }
            }

            @media (max-width: $screen-sm) {
                border: none;
                padding-right: 0;

                button {
                    padding: 0;
                }

                .dropdown--locale {
                    width: auto;
                }
            }
        }

        .nav__item--vertical {
            vertical-align: middle;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .nav__item--dropdown {
            @extend .nav__item;

            padding: $indent-1 $indent-2 $indent-1 0;

            .multiselect {
                min-width: $indent-10 + $indent-5;

                .multiselect__tags {
                    border: none;
                }
            }

            span {
                font-size: $font-size-default;
            }
        }

        .nav__item--mobile {
            @extend .nav__item;

            display: none;
        }

        .nav__link {
            display: block;
            color: $color-theme-dark;
            text-decoration: none;

            @include transition(0.1s);

            &:hover,
            &:active {
                color: $color-theme-dark;
                text-decoration: none;
            }

            &.is-active {
                color: $color-theme-dark;
                font-weight: $font-weight-bold;
            }
        }
    }

    @media (max-width: $screen-sm) {
        position: fixed;
        top: $header-height;
        left: 102%;
        right: auto;
        width: 100%;
        padding: 0;
        background: $color-default;
        z-index: 9999;
        overflow-y: auto;
        text-align: left;

        @include transition(0.4s);
        @include drop-shadow-color(0, 2px, 6px, 0, $color-grey-dark);

        ul {
            white-space: normal;
            text-align: right;
            padding: 0;

            .nav__item {
                display: block;
                padding: $indent-2 $indent-3;
                line-height: $line-height-m;
                margin: 0;
                border-bottom: 1px solid $color-border;
                text-align: center;

                @include transition();

                .select {
                    width: auto;

                    &:after {
                        top: 2px;
                    }
                }

                .dropdown--alt {
                    width: auto;
                    background: $color-grey-light;
                }

                &:first-child {
                    padding: $indent-1 $indent-3;
                }
            }

            .nav__item--mobile {
                display: list-item;

                .nav__link {
                    color: $color-text;
                }
            }

            .nav__link {
                position: relative;
                margin: 0;
                line-height: $line-height-l;
                padding: $indent-3;
                font-size: $font-size-l;
                border: none;
                color: $color-theme-dark;

                &:hover,
                &:active {
                    color: $color-cta;
                    text-decoration: none;
                    border-bottom: none;
                }

                &.is-active {
                    border: none;
                    font-weight: $font-weight-bold;
                    color: $color-theme-dark;
                }

                .nav__item__icon_container {
                    position: relative;
                }
            }
        }

        &.is-active {
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

.nav__toggle_mobile {
    position: relative;
    display: none;
    float: right;
    padding: $indent-xs 0 0;
    font-size: $font-size-default;
    border-radius: 0;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-theme-dark;

    @include no-appearance();

    .nav__toggle_mobile__icon {
        position: relative;
        display: inline-block;
        float: right;
        width: $indent-4;
        height: $line-height-m;
        margin: 0 0 0 $indent-1;
        font-size: $font-size-icon;

        @include transition();

        .mdi {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .counter {
        position: absolute;
        top: -$indent-1;
        left: -$indent-2;
    }

    &:hover,
    &:active,
    &:focus {
        color: $color-theme-dark;
        text-decoration: none;
        cursor: pointer;

        .nav__toggle_mobile__icon {
            color: $color-theme-dark;
        }
    }

    @media (max-width: $screen-sm) {
        display: inline-block;
    }
}

.nav__mobile_open {
    position: fixed;
    width: 100%;
}
