.tooltip {
    line-height: $line-height-s;
    max-width: 21.5rem;
    padding: $indent-2;
    border-radius: 0;
    color: $color-default;
    font-size: $font-size-s;
    font-weight: $font-weight-regular;
    background-color: $color-transparent-dark;
    text-align: center;

    @include no-shadow();

    .tooltip-arrow {
        display: none !important;
    }

    &[x-placement^="right"] {
        top: 0;
        margin-top: $indent-10;
    }
}

[data-tooltip]:after,
[data-tooltip]:before {
    position: absolute;
    font-size: $font-size-s;
    z-index: 99;
    width: auto;
    white-space: normal;
}
