//https://sagalbot.github.io/vue-select/

$dropdown-height: 4 * $multiplier;
$dropdown-toggle-inner-height: $dropdown-height - 0.2; //= minus border

.dropdown {
    position: relative;
    overflow: visible;
    font-weight: $font-weight-light;
    text-align: left;
    width: 100%;
    max-width: 100%;
    min-width: $multiplier * 25;

    .dropdown-toggle {
        width: 100%;
        height: auto;
        min-height: $dropdown-height;
        margin: 0;
        padding: 0 $dropdown-height 0 $indent-2;
        border-radius: 0;
        border: 1px solid $color-border;
        background: $color-grey-light;
        color: $color-text;
        font-size: $font-size-xs;

        @include no-appearance();
        @include no-shadow();
        @include transition();

        .open-indicator {
            display: none;
        }

        &:after {
            content: "\f35d";
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            width: $dropdown-height;
            height: $dropdown-toggle-inner-height;
            line-height: 32px; //Must be px for IE..
            margin: auto;
            color: $color-grey-dark;
            font-family: $font-icon;
            font-size: $font-size-icon-m;
            text-align: center;
            pointer-events: none;
            border: none;
            visibility: visible;
        }

        .form-control,
        .form-control:focus {
            display: inline-block;
            float: none;
            width: 100%;
            left: 0;
            height: $dropdown-toggle-inner-height;
            line-height: $dropdown-height;
            margin: 0;
            padding-left: $indent-2;
            font-size: $font-size-m;
            color: $color-text;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover,
            &:active {
                cursor: pointer;
            }

            @include input-placeholder() {
                color: $color-text;
            }
        }

        &:hover,
        &:active {
            border-color: $color-border-dark;
            cursor: pointer;
        }
    }

    .vs__selected-options {
        padding: 0;

        .form-control,
        .form-control:focus {
            float: left;
            width: auto;
        }
    }

    .selected-tag {
        display: inline-block;
        position: relative;
        left: 0;
        height: $indent-4;
        line-height: $indent-4;
        margin: ($indent-3 / 4) $indent-xs 0 0;
        padding: 0 $indent-1;
        border: 1px solid $color-border-dark;
        border-radius: 0;
        background: $color-default;
        font-size: $font-size-s;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        z-index: 0;

        .close {
            position: relative;
            float: right;
            margin-top: $indent-xs;
            margin-left: $indent-1;
            line-height: $line-height-default;
            z-index: 9999;

            @include opacity(1);

            span {
                display: none;
            }

            &:before {
                content: "\f156";
                font-family: $font-icon;
                color: $color-text;
                font-size: $font-size-s;

                @include transition();
            }

            &:hover,
            &:active {
                cursor: pointer;

                &:before {
                    color: $color-cta;
                }
            }
        }
    }

    &.has-error {
        .dropdown-toggle {
            border-color: $color-alert;
        }

        .selected-tag {
            color: $color-alert;
        }
    }

    &.open {
        .dropdown-toggle {
            border-radius: $border-radius;
            border-bottom: 1px solid $color-border;
        }
    }

    .dropdown-menu {
        top: 100%;
        left: auto;
        right: 0;
        padding: 0;
        border: none;
        border-radius: $border-radius;
        overflow: hidden;

        @include drop-shadow-color(0, 2px, 6px, 0, $color-grey-dark);

        > li {
            margin: 0;
            padding: 0;
            line-height: $line-height-default;
            background: transparent;
            text-align: left;

            &.no-options {
                padding: $indent-1 $input-height $indent-1 $indent-3;
                color: $color-grey;
                white-space: normal;
                font-size: $font-size-m;
            }

            > a {
                padding: $indent-1 $input-height $indent-1 $indent-3;
                background: $color-default;
                font-size: $font-size-m;
                white-space: normal;

                &:hover,
                &:active {
                    background: $color-grey-light;
                    color: $color-text;
                    text-decoration: none;

                    @include opacity(1);
                }
            }

            &.highlight {
                > a {
                    background: $color-default;
                    color: $color-text;

                    &:hover,
                    &:active {
                        background: $color-grey-light;
                        color: $color-text;
                        text-decoration: none;

                        @include opacity(1);
                    }
                }
            }

            &.active {
                > a {
                    position: relative;
                    padding-right: $input-height;
                    background: $color-default;
                    color: $color-text;

                    &:after {
                        content: "\f12c";
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: inline-block;
                        width: $input-height;
                        height: $input-height;
                        line-height: 40px; //Must be px for IE...
                        margin: auto;
                        color: $color-grey-dark;
                        font-family: $font-icon;
                        font-size: $font-size-icon-s;
                        text-align: center;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}
