$box-color: #495363; //Blueish
$box-icon-color: #c0c8d4; // Grey/blueish

.box {
    margin: 0 0 3rem;
    background: $color-theme-dark;
    border: 1px solid $color-theme-dark;
    border-radius: $border-radius;
    @include drop-shadow(0, 0.1rem, 0.6rem, 0, 0.1);

    .table {
        margin: 0;

        > thead {
            > tr {
                > th {
                    border-bottom: 1px solid $color-theme-dark;
                    font-size: 1.1rem;
                    text-transform: uppercase;
                }
            }
        }

        > tbody {
            > tr {
                > td {
                    font-size: 1.2rem;
                    color: $color-text;
                }
            }
        }
    }

    .box__table_mobile {
        padding: 0 1.5rem;

        h4 {
            line-height: 3.2rem;
            margin: 0;
            padding: 1.5rem 0 0;
            font-size: 1.1rem;
            font-weight: bold;
            text-transform: uppercase;
            color: $color-default;
        }

        p {
            margin: 0;
            padding: 0 0 1.5rem;
            font-size: 1.2rem;
            color: $color-text;
        }
    }

    .box__header {
        display: block;
        position: relative;
        line-height: 2.4rem;
        padding: 1.8rem 5rem 1.8rem 2rem;
        font-size: 1.6rem;
        font-weight: 600;
        color: $box-color;
        border-bottom: 1px solid $color-theme-dark;

        &:after {
            display: none;
        }
    }

    .box__popover {
        position: absolute;
        right: 2rem;
        top: 1.8rem;
        color: $box-icon-color;
        font-size: 2.4rem;

        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
            color: $color-theme;
        }
    }

    .box__content {
        padding: 3rem;
        text-align: center;
        overflow: hidden;
    }

    .box__time {
        line-height: 6.8rem;
        margin: 6.15rem 0;
        font-size: 4.8rem;
        font-weight: bold;
        color: $color-default;

        .box__time__emph {
            color: $color-theme;
        }
    }

    .box__amount {
        position: relative;
        line-height: 4.8rem;
        margin: 4rem 0 0;
        font-size: 4.8rem;
        font-weight: bold;
        color: $color-default;

        span {
            position: absolute;
            margin-left: 0.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            vertical-align: middle;

            &.box__amount--plus {
                color: $color-success;
            }

            &.box__amount--minus {
                color: $color-alert;
            }
        }
    }

    .progress {
        margin: 0 0 4.2rem;
    }

    @media (min-width: $screen-md) {
        .box__table_cell {
            float: none;
            display: table-cell;
            padding: 0;
            vertical-align: middle;
        }

        .box__time {
            margin: 5.67rem 0;
        }
    }

    @media (max-width: $screen-sm) {
        margin: 0 0 1.5rem;

        .box__header {
            padding-right: 1.8rem;
            border: none;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 400;
        }

        .box__content {
            padding: 1.5rem 3rem 3rem;
        }

        .box__amount,
        .progress,
        .box__time {
            margin: 0;
        }

        .box__table_cell {
            padding: 0;
        }
    }
}
