$attachment-image-dim: 5 * $multiplier;

.attachment {
    margin-bottom: $indent-1;

    .attachment__download {
        display: block;
        width: 100%;
        padding: $indent-1 $indent-1 $indent-1
            ($attachment-image-dim + 2 * $indent-1);
        background: $color-default;
        border: 1px solid $color-grey-light;
        overflow: hidden;

        .attachment__thumbnail {
            position: absolute;
            top: $indent-1;
            left: $indent-1;
            width: $attachment-image-dim;
            height: $attachment-image-dim;
        }

        .attachment__thumbnail--icon {
            @extend .attachment__thumbnail;

            line-height: $attachment-image-dim;
            text-align: center;

            i {
                font-size: $attachment-image-dim;
            }
        }
        .attachment__details {
            text-align: left;

            p {
                margin: 0;
            }

            .attachment__details__name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: $font-size-s;
            }

            .attachment__details__size {
                color: $color-grey;
                margin-top: $indent-xs;
                font-size: $font-size-xs;
            }
        }
    }

    &:hover {
        .attachment__download {
            border-color: $color-theme;
            cursor: pointer;
        }
    }

    .attachment__actions {
        text-align: right;
        padding: $indent-xs 0 0;
        line-height: $line-height-s;

        a {
            display: inline-block;
            padding: 0 $indent-xs;
            line-height: $line-height-xs;
            font-size: $font-size-s;
            white-space: nowrap;
            vertical-align: top;
            font-weight: $font-weight-regular;

            @include transition(0s);

            &:not(:last-child) {
                border-right: 1px solid $color-grey;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    &:not(:hover) {
        .attachment__actions {
            visibility: hidden;
        }
    }
}
