{
    "debug": false,
    "cookies": {
        "enabled": false
    },
    "analytics": {
        "enabled": false,
        "id": "XXX"
    },
    "api": {
        "url": "https://reqres.in/api/"
    },
    "graphql": {
        "filesRoot": "http://localhost:4000",
        "httpEndpoint": "http://localhost:4000/graphql",
        "wsEndpoint": "ws://localhost:4000/graphql"
    },
    "errorTracking": {
        "enabled": false,
        "url": "XXX"
    }
}
