{
    "debug": false,
    "cookies": {
        "enabled": false
    },
    "analytics": {
        "enabled": false,
        "id": "XXX"
    },
    "api": {
        "url": ""
    },
    "graphql": {
        "enabled": true,
        "httpEndpoint": "http://localhost:8881/graphql",
        "wsEndpoint": "ws://localhost:8009/subscriptions"
    },
    "errorTracking": {
        "enabled": false,
        "url": "XXX"
    }
}
