$spinner-small-dim: 2.5 * $multiplier;
$spinner-small-border-dim: 0.2rem;

.spinner--small {
    @extend .spinner;

    width: $spinner-small-dim;
    height: $spinner-small-dim;
    border-width: $spinner-small-border-dim;
}
