.form--bg {
    @extend .form;

    background: transparent;
    color: $color-default;

    .form__input {
        color: $color-default;

        @include input-placeholder {
            color: $color-default;
        }
    }

    .form__item {
        padding: $indent-3 0 0 0;

        input {
            color: $color-theme-dark;
            font-style: normal;
            border-bottom: 2px solid $color-default;
        }

        .form__label {
            left: 0;
            text-transform: uppercase;
        }
    }

    .form__input--text {
        &:focus,
        &.has-value {
            + .form__label {
                color: $color-theme-dark;
                font-size: $font-size-m;
                text-transform: none;

                @include transition();
            }
        }
    }

    .link_block {
        a {
            color: $color-theme-dark;
        }
    }
}
