.select {
    position: relative;
    display: inline-block;
    width: 100%;
    height: $input-height;
    vertical-align: top;

    select {
        width: 100%;
        height: $input-height;
        line-height: $input-height;
        margin: 0;
        padding: 0 $indent-4 0 $indent-3;
        border: none;
        background: $color-default;
        color: $color-text;
        font-size: inherit;

        @include no-appearance();
        @include no-shadow();
        @include transition();

        &:hover,
        &:active {
            cursor: pointer;
            border-color: $color-border-dark;
        }
    }

    &.has-error {
        select {
            border-color: $color-alert;
            color: $color-alert;
        }
    }

    &:after {
        content: "\f35d";
        position: absolute;
        top: 12px;
        right: -8px;
        display: inline-block;
        width: $input-height;
        height: $input-height;
        line-height: 39px;
        color: $color-grey-dark;
        text-align: center;
        font-family: $font-icon;
        font-size: $font-size-icon-m;
        pointer-events: none;
    }
}
