$spinner-dim: 8 * $multiplier;
$spinner-border-dim: $multiplier / 2;

.spinner {
    width: $spinner-dim;
    height: $spinner-dim;
    margin: $indent-2 auto;
    border: $spinner-border-dim solid $color-grey-light;
    border-radius: 50%;
    border-top: $spinner-border-dim solid $color-theme;

    @include spin();
}
