.dropdown--alt {
    @extend .dropdown;

    // the importants are needed to overwrite dropdown.single

    margin: 0 !important;
    vertical-align: middle !important;

    .dropdown-toggle {
        background: transparent !important;

        .form-control,
        .form-control:focus {
            color: $color-text !important;
        }

        &:hover,
        &:active {
            border-color: $color-border-dark !important;
        }

        &:after {
            color: $color-text !important;
        }
    }

    .dropdown-menu {
        min-width: auto !important;
    }

    .selected-tag {
        background: transparent !important;
        color: $color-text !important;
    }
}
